ops-reduction/09-weekly-report/workflows/weekly-report.json
{
  "name": "09 Weekly Marketing Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * 1" }
          ]
        }
      },
      "id": "trigger",
      "name": "Monday 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c-1", "name": "ga4_property_id", "value": "={{ $env.GA4_PROPERTY_ID }}", "type": "string" },
            { "id": "c-2", "name": "meta_account_id", "value": "={{ $env.META_ADS_ACCOUNT_ID }}", "type": "string" },
            { "id": "c-3", "name": "report_lang", "value": "ko", "type": "string" }
          ]
        }
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build week ranges: this week (last 7 days) vs previous week (7-14 days ago)\nconst now = new Date();\nconst d = n => new Date(now.getTime() - n * 86400000).toISOString().slice(0, 10);\nreturn [{\n  json: {\n    ...$json,\n    this_start: d(7),\n    this_end: d(1),\n    prev_start: d(14),\n    prev_end: d(8),\n  }\n}];"
      },
      "id": "build-dates",
      "name": "Build Date Ranges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.ga4_property_id }}:runReport",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateRanges\": [\n    {\"startDate\": \"{{ $json.this_start }}\", \"endDate\": \"{{ $json.this_end }}\", \"name\": \"this_week\"},\n    {\"startDate\": \"{{ $json.prev_start }}\", \"endDate\": \"{{ $json.prev_end }}\", \"name\": \"prev_week\"}\n  ],\n  \"metrics\": [\n    {\"name\": \"sessions\"},\n    {\"name\": \"activeUsers\"},\n    {\"name\": \"conversions\"},\n    {\"name\": \"engagementRate\"}\n  ]\n}",
        "options": {}
      },
      "id": "fetch-ga4",
      "name": "GA4: Traffic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/act_{{ $('Config').first().json.meta_account_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "level", "value": "account" },
            { "name": "time_range", "value": "={\"since\":\"{{ $json.this_start }}\",\"until\":\"{{ $json.this_end }}\"}" },
            { "name": "fields", "value": "spend,impressions,clicks,actions,purchase_roas,ctr,cpc" },
            { "name": "access_token", "value": "={{ $env.META_GRAPH_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-meta",
      "name": "Meta Ads: Week",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 360],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-resend",
      "name": "Resend: Recent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 520],
      "continueOnFail": true,
      "notes": "Resend는 list emails endpoint가 제한적. 도메인별 통계는 별도 호출 필요. MVP에서는 단순 count."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_LEADS }}",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "key": "created_at|created_time",
              "condition": "past_week"
            }
          ]
        }
      },
      "id": "fetch-leads",
      "name": "Notion: New Leads",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [820, 680],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_CONTENT_DRAFTS }}",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            { "key": "status|select", "condition": "equals", "selectValue": "published" },
            { "key": "published_at|date", "condition": "past_week" }
          ]
        }
      },
      "id": "fetch-published",
      "name": "Notion: Published",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [820, 840],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_INBOX }}",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            { "key": "received_at|date", "condition": "past_week" }
          ]
        }
      },
      "id": "fetch-inbox",
      "name": "Notion: Inbox",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [820, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_COMPETITOR_TIMELINE }}",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            { "key": "entry_type|select", "condition": "equals", "selectValue": "change" },
            { "key": "captured_at|date", "condition": "past_week" },
            { "key": "impact_score|number", "condition": "greater_than_or_equal_to", "numberValue": 6 }
          ]
        }
      },
      "id": "fetch-competitor",
      "name": "Notion: Competitor",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [820, 1160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_SEO_OPPORTUNITIES }}",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            { "key": "status|select", "condition": "does_not_equal", "selectValue": "archived" }
          ]
        }
      },
      "id": "fetch-seo",
      "name": "Notion: SEO Opps",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [820, 1320],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1080, 600]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate everything into a single KPI snapshot\nconst dates = $('Build Date Ranges').first().json;\n\n// GA4 — parse this week vs prev\nconst ga4 = $('GA4: Traffic').first()?.json?.rows || [];\nfunction sumByRange(rangeName) {\n  const row = ga4.find(r => r.dimensionValues?.[0]?.value === rangeName);\n  if (!row) return { sessions: 0, users: 0, conversions: 0, engagementRate: 0 };\n  const m = row.metricValues || [];\n  return {\n    sessions: parseInt(m[0]?.value || 0),\n    users: parseInt(m[1]?.value || 0),\n    conversions: parseInt(m[2]?.value || 0),\n    engagementRate: parseFloat(m[3]?.value || 0),\n  };\n}\nconst ga4_this = sumByRange('this_week');\nconst ga4_prev = sumByRange('prev_week');\n\n// Meta Ads\nconst meta = $('Meta Ads: Week').first()?.json?.data?.[0] || {};\nconst purchases = (meta.actions || []).find(a => a.action_type === 'purchase')?.value || 0;\nconst meta_kpi = {\n  spend: parseFloat(meta.spend) || 0,\n  impressions: parseInt(meta.impressions) || 0,\n  clicks: parseInt(meta.clicks) || 0,\n  purchases: parseInt(purchases) || 0,\n  ctr: parseFloat(meta.ctr) || 0,\n  cpc: parseFloat(meta.cpc) || 0,\n  roas: parseFloat((meta.purchase_roas || [])[0]?.value || 0),\n};\n\n// Resend — count only (MVP)\nconst resend = $('Resend: Recent').first()?.json?.data || [];\n\n// Notion sources\nconst leads = $('Notion: New Leads').all().map(i => i.json);\nconst hotLeads = leads.filter(l => l.properties?.hot_signal?.checkbox);\nconst published = $('Notion: Published').all().map(i => i.json);\nconst inbox = $('Notion: Inbox').all().map(i => i.json);\nconst inboxReplied = inbox.filter(i => i.properties?.status?.select?.name === 'replied');\nconst competitor = $('Notion: Competitor').all().map(i => i.json);\nconst seo = $('Notion: SEO Opps').all().map(i => i.json);\nconst seoNew = seo.filter(s => s.properties?.status?.select?.name === 'new');\nconst seoDone = seo.filter(s => s.properties?.status?.select?.name === 'done');\n\nconst trend = (curr, prev) => {\n  if (prev === 0) return curr > 0 ? '+∞' : '0';\n  return ((curr - prev) / prev * 100).toFixed(0) + '%';\n};\n\nconst snapshot = {\n  week_label: `${dates.this_start} ~ ${dates.this_end}`,\n  traffic: {\n    sessions: ga4_this.sessions,\n    users: ga4_this.users,\n    conversions: ga4_this.conversions,\n    sessions_trend: trend(ga4_this.sessions, ga4_prev.sessions),\n    conversions_trend: trend(ga4_this.conversions, ga4_prev.conversions),\n  },\n  ads: meta_kpi,\n  email: { sent_count: resend.length },\n  leads: {\n    total: leads.length,\n    hot: hotLeads.length,\n  },\n  content: {\n    published_count: published.length,\n  },\n  inbox: {\n    total: inbox.length,\n    replied: inboxReplied.length,\n    response_rate: inbox.length > 0 ? (inboxReplied.length / inbox.length * 100).toFixed(0) + '%' : 'n/a',\n  },\n  competitor: {\n    high_impact_count: competitor.length,\n  },\n  seo: {\n    open_opportunities: seoNew.length,\n    completed: seoDone.length,\n  },\n};\n\nreturn [{ json: snapshot }];"
      },
      "id": "aggregate",
      "name": "Build KPI Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are a CMO summarizing a 1-week marketing performance snapshot for a solo founder.\n\nLanguage: {{ $('Config').first().json.report_lang === 'ko' ? '한국어' : 'English' }}\n\nReturn STRICT JSON:\n{\n  \"insights\": [\n    {\"title\": \"<short title>\", \"detail\": \"<one sentence with specific numbers>\"},\n    ... 3 items\n  ],\n  \"actions\": [\n    {\"title\": \"<imperative action>\", \"why\": \"<one sentence>\", \"linked_automation\": \"<e.g., 06-ad-evolution, 05-seo-hunter, or 'none'>\"},\n    ... 3 items\n  ],\n  \"headline_metric\": \"<the one number to highlight, with trend>\",\n  \"warning\": \"<one urgent issue to address, or empty>\"\n}\n\nInsight rules:\n- Each insight references a specific KPI with comparison (vs last week)\n- Highlight surprises (large trend changes, anomalies)\n- Connect data across sources (e.g., 'leads up but inbox response rate down')\n\nAction rules:\n- Imperative form\n- Tied to a specific automation when relevant (use folder name like '06-ad-evolution')\n- Doable in one week\n- Maximum 3 actions — prioritize over completeness\n\nNo prose, no markdown, no code fences."
            },
            {
              "content": "=This week's snapshot:\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 1500,
          "temperature": 0.4
        }
      },
      "id": "claude-insights",
      "name": "Claude: Insights + Actions",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1.3,
      "position": [1520, 600]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.message?.content?.[0]?.text || $json.content || $json.text;\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw.replace(/^```json\\s*|\\s*```$/g, '')) : raw;\n} catch (e) {\n  parsed = { insights: [], actions: [], headline_metric: '', warning: '' };\n}\nconst snap = $('Build KPI Snapshot').item.json;\nreturn [{ json: { ...snap, analysis: parsed } }];"
      },
      "id": "parse-analysis",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build Slack mrkdwn message\nconst d = $json;\nconst a = d.analysis;\n\nlet text = `📊 *Weekly Marketing Report* — ${d.week_label}\\n`;\nif (a.headline_metric) text += `\\n⭐ ${a.headline_metric}\\n`;\nif (a.warning) text += `\\n🚨 *${a.warning}*\\n`;\n\ntext += `\\n*Traffic*\\n` +\n  `• Sessions: ${d.traffic.sessions.toLocaleString()} (${d.traffic.sessions_trend})\\n` +\n  `• Users: ${d.traffic.users.toLocaleString()}\\n` +\n  `• Conversions: ${d.traffic.conversions} (${d.traffic.conversions_trend})\\n`;\n\nif (d.ads.spend > 0) {\n  text += `\\n*Ads (Meta)*\\n` +\n    `• Spend: $${d.ads.spend.toFixed(0)} · CTR: ${(d.ads.ctr).toFixed(2)}% · ROAS: ${d.ads.roas.toFixed(1)}x\\n` +\n    `• Purchases: ${d.ads.purchases}\\n`;\n}\n\ntext += `\\n*Funnel*\\n` +\n  `• New leads: ${d.leads.total} (hot: ${d.leads.hot})\\n` +\n  `• Inbox: ${d.inbox.total} received · response ${d.inbox.response_rate}\\n`;\n\ntext += `\\n*Content & SEO*\\n` +\n  `• Published this week: ${d.content.published_count}\\n` +\n  `• SEO opportunities open: ${d.seo.open_opportunities} · completed: ${d.seo.completed}\\n`;\n\nif (d.competitor.high_impact_count > 0) {\n  text += `\\n*Competitor*\\n• High-impact changes: ${d.competitor.high_impact_count}\\n`;\n}\n\nif (a.insights?.length) {\n  text += `\\n*🔍 Insights*\\n`;\n  a.insights.forEach((ins, i) => {\n    text += `${i+1}. *${ins.title}* — ${ins.detail}\\n`;\n  });\n}\n\nif (a.actions?.length) {\n  text += `\\n*✅ This Week's Actions*\\n`;\n  a.actions.forEach((act, i) => {\n    text += `${i+1}. *${act.title}*\\n   _${act.why}_`;\n    if (act.linked_automation && act.linked_automation !== 'none') {\n      text += ` → \\`${act.linked_automation}\\``;\n    }\n    text += `\\n`;\n  });\n}\n\nreturn [{ json: { text, snapshot: d } }];"
      },
      "id": "build-slack",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 600]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_CHANNEL_REPORT }}",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack-post",
      "name": "Slack: Weekly Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2180, 500]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_CAMPAIGN_METRICS }}",
          "mode": "id"
        },
        "title": "=Weekly Report — {{ $json.snapshot.week_label }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "channel|select", "selectValue": "organic_social" },
            { "key": "entity_type|select", "selectValue": "campaign" },
            { "key": "entity_id|rich_text", "textContent": "=weekly-report-{{ $json.snapshot.week_label }}" },
            { "key": "date|date", "date": "={{ $json.snapshot.week_label.split(' ~ ')[1] }}" },
            { "key": "period|select", "selectValue": "weekly" },
            { "key": "spend|number", "numberValue": "={{ $json.snapshot.ads.spend }}" },
            { "key": "impressions|number", "numberValue": "={{ $json.snapshot.ads.impressions }}" },
            { "key": "clicks|number", "numberValue": "={{ $json.snapshot.ads.clicks }}" },
            { "key": "conversions|number", "numberValue": "={{ $json.snapshot.traffic.conversions }}" },
            { "key": "roas|number", "numberValue": "={{ $json.snapshot.ads.roas }}" },
            { "key": "notes|rich_text", "textContent": "=Sessions: {{ $json.snapshot.traffic.sessions }} ({{ $json.snapshot.traffic.sessions_trend }}) | Leads: {{ $json.snapshot.leads.total }} (hot {{ $json.snapshot.leads.hot }}) | Published: {{ $json.snapshot.content.published_count }}" }
          ]
        },
        "blockUi": {
          "blockValues": [
            { "type": "heading_2", "richText": true, "textContent": "Slack Message" },
            { "type": "paragraph", "richText": true, "textContent": "={{ $json.text }}" }
          ]
        }
      },
      "id": "notion-archive",
      "name": "Notion: Archive Report",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2180, 700]
    }
  ],
  "connections": {
    "Monday 09:00": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Build Date Ranges", "type": "main", "index": 0 }]] },
    "Build Date Ranges": {
      "main": [[
        { "node": "GA4: Traffic", "type": "main", "index": 0 },
        { "node": "Meta Ads: Week", "type": "main", "index": 0 },
        { "node": "Resend: Recent", "type": "main", "index": 0 },
        { "node": "Notion: New Leads", "type": "main", "index": 0 },
        { "node": "Notion: Published", "type": "main", "index": 0 },
        { "node": "Notion: Inbox", "type": "main", "index": 0 },
        { "node": "Notion: Competitor", "type": "main", "index": 0 },
        { "node": "Notion: SEO Opps", "type": "main", "index": 0 }
      ]]
    },
    "GA4: Traffic": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 0 }]] },
    "Meta Ads: Week": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 1 }]] },
    "Resend: Recent": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 2 }]] },
    "Notion: New Leads": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 3 }]] },
    "Notion: Published": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 4 }]] },
    "Notion: Inbox": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 5 }]] },
    "Notion: Competitor": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 6 }]] },
    "Notion: SEO Opps": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 7 }]] },
    "Merge All Sources": { "main": [[{ "node": "Build KPI Snapshot", "type": "main", "index": 0 }]] },
    "Build KPI Snapshot": { "main": [[{ "node": "Claude: Insights + Actions", "type": "main", "index": 0 }]] },
    "Claude: Insights + Actions": { "main": [[{ "node": "Parse Analysis", "type": "main", "index": 0 }]] },
    "Parse Analysis": { "main": [[{ "node": "Build Slack Message", "type": "main", "index": 0 }]] },
    "Build Slack Message": {
      "main": [[
        { "node": "Slack: Weekly Report", "type": "main", "index": 0 },
        { "node": "Notion: Archive Report", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true },
  "tags": [{ "name": "marketing-lab" }, { "name": "ops-reduction" }],
  "meta": { "templateCredsSetupCompleted": false }
}
